# {{ role_name }}

![GitHub](https://img.shields.io/github/license/sasa993/{{ role_name }}) ![GitHub last commit](https://img.shields.io/github/last-commit/sasa993/{{ role_name }}) ![GitHub issues](https://img.shields.io/github/issues-raw/sasa993/{{ role_name }}) ![Travis (.com) branch](https://img.shields.io/travis/com/sasa993/{{ role_name }}/main?label=travis) [![Molecule](https://github.com/sasa993/{{ role_name }}/actions/workflows/molecule.yml/badge.svg)](https://github.com/sasa993/{{ role_name }}/actions/workflows/molecule.yml)

**Ansible role for setting up {{ role_name|replace('ansible-role-', '') }}.**

## Supported Platforms

| OS Family | Distribution  | Latest | Supported Version(s) | Comment |
|-----------|---------------|--------|----------------------|---------|
| Debian    | Debian        | :heavy_check_mark: | 11, 12 | |

## Requirements

Ansible 2.9 or higher.

## Variables

Variables and defaults for this role.

### defaults/main.yml

```yaml
{{ role_name }}_enabled: false
```

## Dependencies

None.

## Example Playbook

```yaml
---
# role: {{ role_name }}
# play: {{ role_name }}
# file: {{ role_name }}.yml

- hosts: all
  become: true
  gather_facts: true
  vars:
    {{ role_name }}_role_enabled: true
  roles:
    - role: {{ role_name }}
```

## License and Author

- Author:: [Sasa993](https://github.com/sasa993/)

Licensed under [MIT License](https://opensource.org/licenses/MIT).
See [LICENSE](https://github.com/sasa993/{{ role_name }}/blob/master/LICENSE) file in repository.

## References

- [ArchWiki](https://wiki.archlinux.org/)
